    .btn-primary {
        font-size: 20px !important;
        width: 300px;
        background-color: #4739DA !important;
        border-color: transparent !important;

    }

    .btn-primary:hover{
        border-color:  #E7E7E7!important;

    }
    .btn-primary.focus, .btn-primary:focus {
        box-shadow :  0 0 0 0.2rem #FFFFFF !important;
    }
    
    .buttonsMenu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    @media only screen and (max-width: 1280px) {
        .btn-primary {
            font-size: 15px !important;
            width: 200px;
        }
        .buttonsMenu {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }