    .divPicker {
        position: fixed;
        display: flex;
        flex-direction: row;
        left: calc(100vw - 260px);
        bottom: calc(100vh - 70vh);
        font-size: 15px;
    }
    
    .divPickerText {
        font-size: 20px;
        text-align: center;
        background-color: dimgrey;
        color: whitesmoke;
        /* padding-left: 2px; */
    }
    
    @media only screen and (max-width: 1280px) {
        .divPicker {
            position: fixed;
            display: flex;
            flex-direction: row;
            left: calc(100vw - 260px);
            bottom: calc(100vh - 73vh);
            font-size: 10px;
        }
        .divPickerText {
            font-size: 18px;
        }
        .divPickerText p {
            font-size: 18px;
        }
        .block-picker {
            width: 170px !important;
        }
    }