$light-font-path: "./fonts/peacock-sans/peacock_sans-book";
$light-italic-font-path: "./fonts/peacock-sans/peacock_sans-book_italic";
$normal-font-path: "./fonts/peacock-sans/peacock_sans-medium";
$normal-italic-font-path: "./fonts/peacock-sans/peacock_sans-medium_italic";
$bold-font-path: "./fonts/peacock-sans/peacock_sans-bold";
$bold-italic-font-path: "./fonts/peacock-sans/peacock_sans-bold_italic";
$black-font-path: "./fonts/peacock-sans/peacock_sans-black";
$black-italic-font-path: "./fonts/peacock-sans/peacock_sans-black_italic";
​ @font-face {
    font-family: peacock;
    src: url($light-font-path + ".woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
}

​ @font-face {
    font-family: peacock;
    src: url($light-italic-font-path + ".woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

​ @font-face {
    font-family: peacock;
    src: url($normal-font-path + ".woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}

​ @font-face {
    font-family: peacock;
    src: url($normal-italic-font-path + ".woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

​ @font-face {
    font-family: peacock;
    src: url($bold-font-path + ".woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
}

​ @font-face {
    font-family: peacock;
    src: url($bold-italic-font-path + ".woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

​ @font-face {
    font-family: peacock;
    src: url($black-font-path + ".woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
}

​ @font-face {
    font-family: peacock;
    src: url($black-italic-font-path + ".woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

​ @font-face {
    font-family: peacock;
    src: url($light-font-path + ".woff2") format("woff2");
    font-weight: 450;
    font-display: swap;
}

​ @font-face {
    font-family: peacock;
    src: url($light-italic-font-path + ".woff2") format("woff2");
    font-weight: 450;
    font-style: italic;
    font-display: swap;
}

​ @font-face {
    font-family: peacock;
    src: url($normal-font-path + ".woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}

​ @font-face {
    font-family: peacock;
    src: url($normal-italic-font-path + ".woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}